NODE_ENV=development
PORT=3000
DATABASE=YOUR CONNECTION STRING FROM MONGO ATLAS
DATABASE_LOCAL=mongodb://localhost:27017/natours
DATABASE_PASSWORD=XXXXXX

JWT_SECRET=YOUR SECRET PHRASE
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=XXXXXX
EMAIL_PASSWORD=XXXXXX
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525

EMAIL_FROM='YOUR EMAIL ADDRESS'

SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=XXXXXX

STRIPE_SECRET_KEY=YOUR STRIPE SECRET KEY
STRIPE_WEBHOOK_SECRET=YOUR WEBHOOK SECRET